@import "~antd/dist/antd.css";

.App {
    text-align: center;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.navbar-nav {
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
}

.color-nav {
   background-color: #B12F23;
   /* font-family: "Open Sans"; */
}

.site-layout-content {
   min-height: 280px;
   padding: 24px;
   background: #fff;
 }

.logo {
    height: 20px;
    padding-left: 10px;
}

.content {
    padding-top: 30px;
}

.ant-layout{
    background: #ffffff;
}